.App {
  text-align: center;
  font-family:'Comfortaa', cursive;;
  border:none;
}

.row {
  display: flex;
  justify-content: center;
  border:none;
}

video{
  
  size:cover;
  position:absolute;
  z-index: -1;
 margin-top: 23.5%;
 -o-object-fit: cover;
 object-fit: cover;

}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');