#logoHenry {
  margin-right: 20px;
  grid-column:1;
}
.navbar{
  /* display:grid;
  grid-template-columns: 100px,940px,300px;
  grid-template-rows: 50px; */
  background: #629ead77;
  color: #B1D4E0;
}
.logo{
  grid-column: 2;
  justify-self:start;
}
span{
  color: rgb(255, 255, 255);
}
