.navbar {
  display: flex;

  background: #b5eaf777;
  color: #b1d4e0;
}
.logo {
  justify-self: start;
}
span {
  color: rgb(255, 255, 255);
  margin: 10px;
  margin-right: 5px;
}
img {
  margin-left: 10px;
}
